{
  "presets": [
    "env",
    "stage-0",
    "react"
  ],
  "env": {
  },
  "ignore": [
    "node_modules/**",
    "dist"
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "lethita",
        "libraryDirectory": "lib",
        "style": true
      }
    ]
  ]
}
